<div id="<%= dom_id evaluator %>">
  <p>
    <strong>User:</strong>
    <%= evaluator.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= evaluator.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= evaluator.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= evaluator.email %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= evaluator.date_of_birth %>
  </p>

</div>
