<div id="<%= dom_id evaluated %>">
  <p>
    <strong>Name:</strong>
    <%= evaluated.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= evaluated.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= evaluated.cpf %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= evaluated.date_of_birth %>
  </p>

</div>
