<div id="<%= dom_id instrument %>">
  <p>
    <strong>Question one:</strong>
    <%= instrument.question_one %>
  </p>

  <p>
    <strong>Question two:</strong>
    <%= instrument.question_two %>
  </p>

  <p>
    <strong>Question tree:</strong>
    <%= instrument.question_tree %>
  </p>

  <p>
    <strong>Question four:</strong>
    <%= instrument.question_four %>
  </p>

  <p>
    <strong>Question five:</strong>
    <%= instrument.question_five %>
  </p>

</div>
